In [19]:
# Import Dependencies
import os
import pandas as pd
import matplotlib.pyplot as plt
import requests
from pprint import pprint
from config import api_key
import random
from citipy import citipy

In [57]:
# API call structure
url = "http://api.openweathermap.org/data/2.5/forecast/daily"
query_params = {
    'appid': api_key,
    'units': 'imperial',
    'cnt': '1'
}

In [56]:
cities = ["Paris", "London", "Oslo", "Beijing"]

# set up lists to hold reponse info
lat = []
temp = []

# Loop through the list of cities and perform a request for data on each
for city in cities:
    query_params['q'] = city
    response = requests.get(url, params=query_params).json()
#     lat.append(response['coord']['lat'])
#     temp.append(response['main']['temp'])

print(f"The latitude information received is: {lat}")
print(f"The temperature information received is: {temp}")
pprint(response)

The latitude information received is: []
The temperature information received is: []
{'cod': 401,
 'message': 'Invalid API key. Please see '
            'http://openweathermap.org/faq#error401 for more info.'}

In [53]:
# Generate cities list
city_list = []
lat_list = []
lon_list = []
fail_list = []
temp_list = []
humid_list = []
cloud_list = []
wind_list = []



while len(city_list) < 15:
    # selecting latitude in this way means that the northern-most and southern most cities
    # are most likely to be in the data set because the Earth's circumference is smaller
    # so there are fewer cities  at the polls
    rand_lat = random.uniform(-90, 90)  # Northern most city in dataset is
    rand_lon = random.uniform(-180, 180)  # Northern most city in dataset is
    city = citipy.nearest_city(rand_lat, rand_lon)
    cityName = city.city_name
    if not(cityName in city_list or cityName in fail_list):
        try:
            query_params['q'] = city.city_name
            response = requests.get(url, params=query_params).json()
            
            # get values
            temp = response['main']['temp']
            hum = response['main']['humidity']
            cloud = response['clouds']['all']
            wind = response['wind']['speed']
            lat = response['coord']['lat']
            lon = response['coord']['lon']
            
            # filtering out cooridnates far from any city (e.g. at sea)
            if not(abs(lat - rand_lat) > 3 or abs(lon - rand_lon) > 5 ):
            
                temp_list.append(temp)
                humid_list.append(hum)
                cloud_list.append(cloud)
                wind_list.append(wind)
                city_list.append(cityName)
                lat_list.append(lat)
                lon_list.append(lon)
        except KeyError:
            fail_list.append(cityName)
            
            
            
            
            
            
cityDF = pd.DataFrame(
    {'city': city_list,
     'latitude': lat_list,
     'longitude': lon_list,
     'temperature': temp_list,
     'humidity': humid_list,
     'cloudiness': cloud_list,
     'wind speed': wind_list     
})
 

    
cityDF.head(15)

,city,cloudiness,humidity,latitude,longitude,temperature,wind speed
0,kindu,48,71,-2.95,25.92,77.03,3.60
1,nan,75,70,18.78,100.78,86.00,4.70
2,thai binh,0,64,20.45,106.33,95.84,13.78
3,seoul,0,50,37.57,126.98,76.95,5.82
4,sawakin,48,48,19.10,37.33,92.42,4.50
5,lompoc,90,87,34.64,-120.46,56.89,9.17
6,havelock,1,94,34.88,-76.90,75.79,9.17
7,tocopilla,24,100,-22.09,-70.20,53.27,1.81
8,camopi,20,93,3.17,-52.33,72.98,2.15
9,new ulm,90,83,44.31,-94.46,70.03,6.93
10,inirida,100,100,3.87,-67.92,70.64,2.26
11,roebourne,20,14,-20.77,117.15,83.69,11.21
12,parrita,75,88,9.52,-84.33,71.60,1.12
13,pangnirtung,80,98,66.15,-65.72,29.51,1.14
14,staryy nadym,100,77,65.61,72.68,62.81,14.45

In [5]:
# Latitude vs Max Temperature Plot
plt.scatter(lat_list, sales, marker="o", facecolors="red", edgecolors="black")

In [6]:
# Latitude vs Humidity Plot

In [7]:
# Latitude vs Cloudiness Plot

In [8]:
# Latitude vs Wind Speed Plot

In [ ]:
# Don't forget
# Perform a weather check on each of the cities using a series of successive API calls. 
# Include a print log of each city as it's being processed with the city number, city name, and requested URL.
# Save both a CSV of all data retrieved and png images for each scatter plot.
# You must use the Matplotlib and Seaborn libraries.
# You must include a written description of three observable trends based on the data. 
# You must use proper labeling of your plots, including aspects like: Plot Titles (with date of analysis) and Axes Labels.
# You must include an exported markdown version of your Notebook called  README.md in your GitHub repository.